* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/body.png);
}

/* utility classes */
.float-left {
  float: left;
}
.mr-3vw {
  margin-right: 3vw;
  /* considerando che il container è 60vh e gli elementi dimensionati occupano complessivamente il 90%, occorreva ripartire il 10% di 60vh in due margini */
}
/* /utility classes */

#container {
  width: 60vw;
  margin: auto;
  padding: 20px 0;
}

/* Header */
div.head-wall {
  height: 20vw;
  background-color: red;
  border: 8px solid white;
  position: relative;
}

nav {
  background-color: blue;
  height: 39px;
}
/* /Header */

/* Main */
main {
  padding-top: 10px;
}

main::after{
  content: "";
  display: table;
  clear: both;
}

aside {
  width: 20%;
}

aside.left, div.central-column, div.text-widget {
  background-color: yellow;
}

div.central-column {
  width: 50%;
}

div.text-widget {
  margin-bottom: 35px;
}
/* /Main */

/* Footer */
footer {
  background-color: indigo;
  height: 15vh;
}
/* /Footer */
