* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/body.png);
  font-family: 'Roboto', sans-serif;
}

/* utility classes */



/* /utility classes */

#container {
  width: 60vw;
  margin: auto;
}

div.head-wall {
  height: 20vw;
  background-image: url(../img/header.jpg);
  background-size: cover;
  border: 8px solid white;
  text-align: center;
  position: relative;
  color: #fff;
}

.head-wall > img {
  width: 40%;
}

.head-wall > img, h2 {
  transform: translateY(40px);
}

nav {
  background-color: #666666;
}

h2, li a {
  text-transform: uppercase;
}

nav ul {
  text-align: center;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}
